# .gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.env.*
!.env.example # Keep example env files if you have them
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs / Editors
.idea/
.vscode/
*.swp
*~
*.sublime-project
*.sublime-workspace

# Docker
.dockerignore
docker-compose.override.yml

# Data / Uploads (ignore contents, keep directories via .gitkeep)
data/*
!data/.gitkeep
!data/raw/ # Maybe keep raw data definition under VC? Adjust as needed.
!data/raw/.gitkeep
data/pg_data/*
!data/pg_data/.gitkeep

uploads/*
!uploads/.gitkeep
!uploads/images/
!uploads/images/.gitkeep

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Node
node_modules/
*.tsbuildinfo

# Operating System Files
.DS_Store
Thumbs.db

# Other
*.bak
*.tmp